data/*
!data/.gitkeep

model/*
!model/.gitkeep

stats/*
!stats/.gitkeep


archive/
graphs/
graphs_PROTEINS/
model_backup/
model_copy/
model_copy2/
model_mutag_final/
__pycache__/
*.pyc
*.pyo

todo
train2.sh

/graph_vis*
